.main-container {
    color: white;
    display: flex;
    flex-direction: column;
    border-left: 50px !important;
}

.btn-success {
    color: #f0c20e !important;
    background-color: #333131 !important;
    border-color: #f0c20e !important;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #f0c20e !important;
    background-color: #000000 !important;
    border-color: #f0c20e !important;
}

.timelineCard {
    position: relative;
    border-color: #f0c20e !important;
    border-style: solid;
    border-width: thin;
    padding-left: 0px !important;
    background-color: #333131 !important;
}
