.customise-navbar {
    --bs-table-bg: #333131 !important;
    --bs-table-color: white !important;
}

.heading-color{
    --bs-table-color: #f0c20e !important;
}

.custom-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}