.sidebar {
    background-color: #333131 !important;
    border-top: 1px solid #000000 !important;
    color: #f0c20e;
    width: 280px;
}

.activesidebar {
    background-color: #000000 !important;
}

.mainframe {
    min-height: 93.5vh;
}

.signout-button {
    color: #f0c20e !important;
}